:root{ 
  --navbar-height: 10svh;
}
.root{ 
  margin: 0;
  padding: 0;
  height: 100svh;
  width: 100svw;
}

.app__banner{ 
  height: 10vh;
  background-color: burlywood;
  text-align: center;
  padding: 1rem;
}

.main__body{ 
    height: calc(100svh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
}
.body__graph{
  display: flex;
  gap: 5rem;
}
.graph{
  width:500px;
  aspect-ratio: 1.9;
  background-color: aqua ;
}

