:root{ 
  --navbar-height: 15svh;
}
.root{ 
  margin: 0;
  padding: 0;
  height: 100svh;
  width: 100svw;
}


  .main__body{ 
      height: calc(100svh - var(--navbar-height));
    display: flex;
  justify-content: center;
  align-items: center;
  background: #FBFBFB;
}
.body__graph{
  display: flex;
  gap: 5rem;
}
.graph{
  width:500px;
  aspect-ratio: 1.9;
  background-color: #FF9F1C ;
}

